@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');

* {
    padding : 0;
    margin : 0;
    box-sizing: border-box;
    font-family: 'Tapestry', cursive;
    border : none;
    background-color : transparent;
    overflow-x: hidden;
}



.courselist__section {
    margin-left: 4em;
    width: 50em;
    scrollbar-width: 2px;
}
.courselist__section .allCourses {
    overflow-y: scroll;
    height: 26em;
}
.courselist__section .allCourses::-webkit-scrollbar {
    width: 0.4em;
    background-color: #EFEFEF;
}
.courselist__top {
    padding: 1.5rem;
}
.courselist__top div {
    width: 10rem;
}
.courselist__top div label {
    font-family : Arial, Helvetica, sans-serif;
    font-size: 0.85rem;
    margin: 1.2em;
    font-weight: 600;
}


/* AccordionForCourse */
.AccordionForCourse_container {    
    margin: 0.7rem 2rem 0 2rem;
}

.AccordionForCourse__header {
    display : flex;
    align-items : center;
    gap : 10px;
    width : 100%;
    text-align: left;
    padding-left: 0.7rem;
    background-color: #F0F0F0;
    border-bottom : 1px solid black;
}

.AccordionForCourse__body {
    display : none;
    width : 100%;
    text-align: left;
}
.courseDescription {
    margin: 0.1rem 2rem 1rem 2rem;
}
.coursePrice {
    margin: 0.1rem 2rem 1rem 2rem;
    font-weight: 900;
    font-family: serif;
    font-size: 1.2rem;
    color: #000;
}
.instructorContact {
    margin: 0.1rem 2rem 1rem 2rem;
    font-weight: 700;
    /* font-family: serif; */
    color: #000;
}

.AccordionForCourse__header__title {
    font-size: 0.95rem;
    padding : 10px 0;
}

.AccordionForCourse__body__text {
    margin : 0 0 0 2.4rem;
    padding : 20px 0;
}

.active {
    display : block;
}


.AccordionForCourse_container .AccordionForCourse__header div {
    width: 100%;
    padding-left: 1rem;
    background-color: #E5D283;
}
.AccordionForCourse_container div p {
    background-color: #E5D283;
}
/* ------------------ */

.ubox {
    position: absolute;
    top: 10rem;
    left: 55rem;
    width: 26rem;
    background-color: #444;
    padding: 0;
}
.ubox .ubox_head {
    text-align: center;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    background: #213555;
}
.ubox .ubox_body {
    text-align: center;
    height: 25em;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    background: #D9D9D9;
}